<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Cat Browser</title>
</head>
<body>
        <a id='logoTitle' href="/"><img id='logo' src="https://www.mcicon.com/wp-content/uploads/2021/03/Cat-31.jpg"><h1>cathub</h1></a>

    {{{body}}}

{{!-- Add hot singles in your area --}}
{{!-- Random cat--}}

</body>
</html>