<div class="navContainer">
    <a class="nav" id="breeds" href="/views/breed">all breeds</a>
    <a class="nav selected" id="hairless" href="/views/hairless">hairless</a>
    <a class="nav" id="experimental" href="/views/experimental">experimental</a>
    <a class="nav" id="rare" href="/views/rare">rare</a>
    <a class="nav" id="indoor" href="/views/indoor">indoor</a>
</div>

<div class="catContainer">
{{#each catBreeds}}
{{#if hairless}}
    <a href="../breeds/{{name}}">
    <div class="breed">
        <h3>{{name}}</h3>
        <img src="{{image.url}}">
    </div>
    </a>
{{/if}}
{{/each}}
</div>