<div class="navContainer">
<a class="nav" id="breeds" href="/views/breed">all breeds</a>
<a class="nav" id="hairless" href="/views/hairless">hairless</a>
<a class="nav" id="experimental" href="/views/experimental">experimental</a>
<a class="nav" id="rare" href="/views/rare">rare</a>
<a class="nav" id="indoor" href="/views/indoor">indoor</a>
</div>
<br>
<br>
<br>

{{>randomCat}}