<h2>Hairless Cats</h2>
<a href="/">Home</a>
<div class="catContainer">
{{#each catBreeds}}
{{#if rare}}
    <a href="../breeds/{{name}}">
    <div class="breed">
        <h3>{{name}}</h3>
        <img src="{{image.url}}">
    </div>
    </a>
{{/if}}
{{/each}}
</div>