body {
    background-color: #EFDDFD;
}

a img {
    float: left;
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 30px;
}

.randomImage {
    height: 300px;
    border-radius: 30px;
    margin: 0 20px;

}

#logo {
    mix-blend-mode: multiply;
    display: inline;
    margin: -30px;
    height: 150px;
    width: 150px;
}

.catContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 120px;
}

.randomContainer {
    padding: 20px;
    text-align: center;
    margin: auto;
}

.infoContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.infoContainer p {
    color: #36065B;
    max-width: 600px;
}

.breed {
    padding: 10px;
}

.breed:hover h3 {
    color: #A33Af2;
  }

.checked {
    color: orange;
  }

  h1 {
    font-family: 'Neucha', cursive;
    font-size: 60px;
    text-align: center;
    color: black;
    display: inline;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  h2 {
    font-family: 'Neucha', cursive;
    font-size: 25px;
    color: #36065B;
    margin-top: 0;
  }

  h3 {
    font-family: 'Neucha', cursive;
    font-size: 20px;
    text-align: center;
    color: #36065B;
    margin: 10px 0;
  }

  h4 {
    font-family: 'Neucha', cursive;
    font-size: 60px;
    text-align: center;
    color: #36065B;
    padding-top: 100px;
    margin-bottom: 10px;
  }

  h5 {
    font-family: 'Neucha', cursive;
    font-size: 40px;
    text-align: center;
    color: #36065B;
    margin-bottom: 20px;
  }

  .nav {
      font-size: 25px;
      font-family: 'Neucha', cursive;
    padding-left: 20px;
    padding-right: 20px;
    color: #36065B;
    z-index: 2;
    padding-bottom: 10px;
  }

  .navContainer {
      display: flex;
      justify-content: center;
    position: fixed;
    width: 100%;
    background-color: #EFDDFD;
    top: 100px;
    z-index: 2;
  }

  a {
    text-decoration: none;
  }
  a:hover {
    color: #A33Af2;
  }

  #logoTitle {
     display: flex;
     justify-content: center;
     position: fixed;
     width: 100%;
     background-color: #EFDDFD;
    top: 0px;
    z-index: 2;
  }

  .selected {
      color: #A33Af2;
  }

  #info {
      display: inline;
      margin-left: 10px;
      position: relative;
      
  }

  #info p {
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      
  }

  #info label {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #36065B;
    padding-left: 15px;
  }

  #wikiLink {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #36065B;
    position: absolute;
    bottom: -20px;
    left: -70px
  }

  #catFact {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #36065B;
    padding-top: 120px;
    text-align: center;
    max-width: 600px;
    margin: auto;
  }

  .clickable-image{
    height:30vh;
    border-radius: 30px;
  }
  
  .image-open{
    animation: scaleUp 0.5s forwards linear;
  }
  
  .image-close{
    animation: scaleDown 0.5s forwards linear;
  }
  
  .clickable-image:hover{
    cursor: pointer;
  }
  
  @keyframes scaleUp{
    from{
      height:30vh;
    }to{
      height:60vh;
    }
  }
  @keyframes scaleDown{
    from{
      height:60vh;
    }to{
      height:30vh;
    }
  }

  input {
    height: 40px;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    color: #36065B;
    border-radius: 10px;
    border: 1px solid #36065B;
    background-color: #EFDDFD;
  }

  input:hover {
    border: 1px solid white;
  }

  #name {
    width: 100px;
    background-color: #EFDDFD;
    border-radius: 10px;
    border: 1px solid #36065B;
    padding-left: 10px;
  }
  
  #comment {
    width: 200px;
    background-color: #EFDDFD;
    border-radius: 10px;
    border: 1px solid #36065B;
    padding-left: 10px;
  }

  .form {
    text-align: center;
  }

  span {
    display: inline-block;
  }

.dialog-2 {
  position: relative;
  padding: 10px;
  margin: 20px;
  background-color:#FFF;
  color: #666;
  font: normal 12px "Segoe UI", Arial, Sans-serif;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #36065B;
  font-family: 'Neucha', cursive;
  font-size: 18px;
  color: #36065B;
  background-color: #EFDDFD;
}

.dialog-2:before,
.dialog-2:after {
  content: "\0020";
  display:block;
  position:absolute;
  top:30px;
  left:-30px;
  z-index:2;
  transform: rotate(270deg);
  width: 0;
  height: 0;
  overflow:hidden;
  border: solid 20px transparent;
  border-top: 0;
  border-bottom-color:#9b71bb;
}

.commentContainer {
  display: flex;
  justify-content: center;
}

.commentName {
  position: relative;
  right: 10px;
  top: 35px;
  font-family: 'Neucha', cursive;
  font-size: 17px;
  color: #36065B;
}

button {
  font-family: 'Neucha', cursive;
  font-size: 14px;
  color: #36065B;
  margin: 50px 0 10px 0;
  background-color: #EFDDFD;
  border: 1px solid #36065B;
  border-radius: 5px;
  padding: 5px;
}

button:hover {
  border: 1px solid white;
}